<h3>New Cookbook</h3>
    <form action="/cookbook/new" method="POST">
        <p>
            <input type="name" name="title" placeholder="Cookbook Name">
        </p>
        <input class="input" type="submit">
    </form>