<section>
    <h2>{{cookbook.title}}</h2>
    {{#if cookbook.recipe}}
    <div></div>
        {{#each cookbook.recipes}}
            {{> 'recipe'}}
        {{/each}}
    </div>
  {{else}}
    <p>No Recipes yet</p>
  {{/if}}
</section>