<section>
    <h3>Change Title</h3>
    <form action="/cookbook/{{cookbook.id}}" method="POST">
        <p>
            <input type="screenName" name="title" value="{{cookbook.title}}">
        </p>
        <input class="input" type="submit">
    </form>
    
</section>