<div class="recipe-list">
  <p class="title">Recipes</p>
  {{#if user.recipes}}
      <div>
        {{#each user.recipes}}
          {{> 'recipe'}}
        {{/each}}
      </div>
    {{else}}
      <p>No Recipes yet</p>
  {{/if}}
  </div>
  <form action="/recipe/new" method="GET">
    <input class="input" type="submit" value="Add Recipe">
  </form>