<section>
    {{#if message}}
        <div>{{message}}</div>
    {{/if}}
    <h3>Create Account</h3>
    <form action="/user/signup" method="POST">
        <p>
            <input type="email" name="email" placeholder="Email">
        </p>
        <p>
            <input type="screenName" name="screenName" placeholder="Screen Name">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <input class="btn" type="submit">
    </form>
</section>