<section>
    <h3>Update</h3>
    <form action="/user/{{user.id}}" method="POST">
        <p>
            <input type="screenName" name="screenName" value="{{user.local.screenName}}">
        </p>
        <input class="btn" type="submit">
    </form>
    
</section>