<h2>Comments</h2>
  {{#each recipe.comments}}
    <div class="comments">
      <section>
        <p>{{comment.content}}</p>
        <h4>Posted by {{comment.author.local.screenName}}</h4>
      </section>
    <p><a href="/comment/{{comment.id}}/edit">Edit</a></p>
    <form action="/comment/{{comment.id}}?_method=DELETE" method="POST">
      <input type="submit" value="Remove comment">
    </form>
    </div>
  {{/each}}