<section>
    <h3>Comment</h3>
    <form action="/recipe/comment" method="POST">
        <p><textarea rows="4" cols="50" name="content" placeholder="Leave a comment..."></textarea>
        </p>
        <input class="btn" type="submit">
    </form>
</section>