<section>
    {{#if message}}
        <div>{{message}}</div>
    {{/if}}
    <h3>New Recipe</h3>
    <form action="/recipe/new" method="POST">
        <p>
            <input type="name" name="name" placeholder="Recipe Name">
        </p>
        <p>Brief Description</p>
            <p><textarea rows="4" cols="50" name="description" placeholder="Description..."></textarea>
        </p>
        <p>Directions</p>
            <p><textarea rows="4" cols="50" name="directions" placeholder="Directions..."></textarea>
        </p>
        <p>Other information..</p>
            <p><textarea rows="4" cols="50" name="more" placeholder="Wine pairings, recipe alternatives, etc..."></textarea>
        </p>
        <p>
            <input type="name" name="ingredient" placeholder="Ingredient">
        </p>
        <input class="btn" type="submit">
    </form>
</section>